<footer class="footer">
  <div class="container-footer">
    <div class="footer-left">
      <svg class="logo-footer" width="194" height="18">
        <use href="../img/sprite.svg#icon-desktop-tablet-logo"></use>
      </svg>

      <p>
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-block">
      <div class="footer-right">
        <ul>
          <li><a href="#how-it-works">how it works</a></li>
          <li><a href="#vegetables">vegetables</a></li>
          <li><a href="#reviews">reviews</a></li>
        </ul>
      </div>
      <div class="contact-footer">
        <address class="footer-contact">
          <p id="number_phone">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
          </p>
          <p>
            1678 S. Pioneer Road<br />
            Salt Lake City, UT 84104
          </p>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="#">Privacy Policy /</a> <a href="#">&nbsp;Cookie settings</a>
    <p>©Green Harvest 2023</p>
  </div>
</footer>
