<section class="section-how-it-works">
  <div class="section-hiw-patch-first">
    <div class="container">
      <h2 class="visually-hidden">How it works</h2>
      <div class="how-it-works-pinkdiv">
        <picture>
          <source
            srcset="
              /img/how-it-works/how-it-works-desctop.jpg    1x,
              /img/how-it-works/how-it-works-desctop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/how-it-works/how-it-works-tablet.jpg    1x,
              /img/how-it-works/how-it-works-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/how-it-works/how-it-works-mobile.jpg    1x,
              /img/how-it-works/how-it-works-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/how-it-works/how-it-works-mobile.jpg"
            alt="Photo girl"
            class="how-it-works-img"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="section-hiw-patch-second">
    <div class="container">
      <div class="how-it-works-greendiv">
        <div class="how-it-works-div">
          <p class="how-it-works-main-text">
            To order your<br /><span class="how-it-works-span">vegetable</span>
            basket, simply follow these
            <span class="how-it-works-span">easy steps</span>
          </p>
          <p class="how-it-works-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home
          </p>
          <div class="how-it-works-div-list">
            <ol class="how-it-works-list card-counter">
              <li class="how-it-works-item">
                <p class="how-it-works-number"></p>
                <p class="hiw-text">
                  Just choose<span class="bold-text"> the vegetable</span> you
                  want to order by clicking on the checkboxes&nbsp;<span
                    class="bold-text"
                    >next to it</span
                  >
                </p>
              </li>
              <li class="how-it-works-item">
                <p class="how-it-works-number"></p>
                <p class="hiw-text">
                  Click on&nbsp;<span class="bold-text">the basket</span> and
                  fill out the form.
                </p>
              </li>
              <li class="how-it-works-item">
                <p class="how-it-works-number"></p>
                <p class="hiw-text">
                  Sit back and relax! Your&nbsp;<span class="bold-text"
                    >fresh vegetables<br /></span
                  >basket will be delivered.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
