<section class="section-how-it-works">
  <h2 class="visually-hidden">How it works</h2>
  <div class="how-it-works-pinkdiv">
    <picture>
      <source
        srcset="
          /img/how-it-works/how-it-works.png    1x,
          /img/how-it-works/how-it-works@2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <source
        srcset="
          /img/how-it-works/how-it-works-tablet.png    1x,
          /img/how-it-works/how-it-works-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/how-it-works/how-it-works.png    1x,
          /img/how-it-works/how-it-works@2x.png 2x
        "
        media="(min-width: 1158px)"
      />
      <img
        src="/img/how-it-works/how-it-works-mobile.jpg"
        alt="cooking"
        class="how-it-works-img"
      />
    </picture>
  </div>
  <div class="how-it-works-greendiv">
    <div class="how-it-works-div">
      <h2 class="how-it-works-main-text">
        To order your<br /><span class="how-it-works-span">vegetable</span>
        basket, simply follow these
        <span class="how-it-works-span">easy steps</span>
      </h2>
      <p class="how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home
      </p>
      <div class="how-it-works-div-list">
        <ol class="how-it-works-list card-counter">
          <li class="how-it-works-item">
            <p class="how-it-works-number"></p>
            <p class="hiw-text">
              Just choose the vegetable you want to order by clicking on the
              checkboxes next to it
            </p>
          </li>
          <li class="how-it-works-item">
            <p class="how-it-works-number"></p>
            <p class="hiw-text">Click on the basket and fill out the form.</p>
          </li>
          <li class="how-it-works-item">
            <p class="how-it-works-number"></p>
            <p class="hiw-text">
              Sit back and relax! Your fresh vegetables basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
