<div class="container-mobile-menu second-accent-bg-color">
  <button class="close-button-mobile-menu icon-close" type="button">
    <svg width="32" height="32" class="icon">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu-menu-links second-main-color">
    <li><a href="#how-it-works.html">How It Works</a></li>
    <li><a href="#vegetables.html">Vegetables</a></li>
    <li><a href="#reviews.html">Reviews</a></li>
  </ul>
  <button class="mobile-menu-shop-now-button second-accent-color">
    SHOP NOW
  </button>
</div>
