.container-advertisement {
  padding-left: 10px;
  padding-right: 0;
  min-width: 355px;
}



.green-background {
  display: flex;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  border-radius: 12px;
  width: 355px;
  height: 102px;
  background: #576f35;

  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 10px;

}

.white-background {
  display: flex;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;

  padding-left: 10px;
  
}

@media only screen and (min-width: 768px) {

.container-advertisement {
  padding-left: 16px;
  padding-right: 16px;
}


.green-background {
  font-size: 64px;
  line-height: 1.09;
  width: 736px;
  height: 86px;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 0;
}

.white-background {
  font-size: 64px;
  line-height: 1.09;
  padding-left: 16px;
}
}

@media only screen and (min-width: 1280px) {

.container-advertisement {
    max-width: 1080px;
    padding-left: 13px;
  }

.advertisement-text {
  padding-left: 13px;
}

.green-background {
  display: inline-flex;
  font-size: 76px;
  line-height: 1.05;
  width: 808px;
  padding-left: 13px;
  
}

.white-background {
  display: inline;
  font-size: 76px;
  line-height: 1.05;
  padding-left: 0;
  padding-right: 13px;
}

}