* {
  box-sizing: border-box;
}

.footer {
  background-color: #7a3145; /* Burgundy color */
  color: #fbfbfb;
  padding: 50px 100px 50px 100px;
  width: auto;
  height: 391px;
  font-family: 'Inter Tight';
}
.logo-footer {
  fill: #fbfbfb;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

.container-footer {
  min-width: 320px;
  max-width: 375px;
}

.footer-left {
  max-width: 265px;
  max-height: 103px;
}

.footer-left h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-left p {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 25px;
}

.footer-right {
  max-width: 177px;
  max-height: 146px;
  white-space: nowrap;
  float: left;
}
.footer-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.footer-right ul li {
  margin-bottom: 25px;
}

.footer-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.contact-footer {
  max-width: 215px;
  max-height: 85px;
  float: right;
}

.footer-contact {
  font-size: 18px;
  text-align: left;
}

.footer-contact p {
  margin: 5px 0;
}
#number_phone {
  margin-bottom: 25px;
}

.footer-contact a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin: auto;
  max-height: 20px;
  box-sizing: border-box;
}

.footer-bottom a {
  color: #fbfbfb80;
  text-decoration: none;
  font-size: 18px;
  float: left;
}

.footer-bottom p {
  font-size: 18px;
  color: #fbfbfb80;
  float: right;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container-footer {
    min-width: 768px;
  }
  .footer-bottom {
    padding-bottom: 50px;
    padding-top: 125px;
  }
  .footer {
    padding: 32px 32px;
    height: 479px;
  }
  .footer-block {
    width: 215px;
    height: 295px;
    align-content: space-between;
    display: grid;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container-footer {
    max-width: 1080px;
  }
  .footer-bottom {
    max-width: 1080px;
    padding-top: 125px;
  }
  .footer-block {
    width: 513px;
    height: 146px;
    display: block;
  }
  .footer {
    padding: 50px 100px 50px 100px;
    min-height: 479px;
    min-width: 768px;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  .container-footer {
    max-width: 375px;
    align-content: space-between;
    display: grid;
  }
  .footer-bottom {
    max-width: 335px;
    margin-top: 80px;
  }
  .footer {
    padding: 40px 20px 40px 20px;
    height: 520px;
  }
  .footer-block {
    width: 215px;
    height: 220px;
    align-content: space-between;
    display: grid;
    margin-top: 50px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
  .footer-left h2 {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .footer-left p {
    font-size: 14px;
    line-height: 1.6;

    padding-top: 14px;
  }
  .footer-right ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-right ul li {
    margin-bottom: 14px;
  }

  .footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
  }
  .footer-contact {
    font-size: 14px;
    text-align: left;
  }
  #number_phone {
    margin-bottom: 14px;
  }
  .footer-bottom a {
    color: #fbfbfb80;
    text-decoration: none;
    font-size: 14px;
    float: left;
  }
  .footer-left {
    max-width: 296px;
    max-height: 84px;
  }
  .footer-contact p {
    margin: 0px 0;
  }
}
