.section-how-it-works {
  counter-reset: section-counter;
  background-color: #7a3145;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#7a3145 50%, #576f35 50%);
  padding-top: 40px;
}
.how-it-works-greendiv {
  flex: 1;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.how-it-works-img {
  width: 335px;
  padding-bottom: 40px;
  border-radius: 30px;
}
.how-it-works-span {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(251, 251, 251, 0.3);
}
.hiw-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  width: 208px;
}
.how-it-works-main-text {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #fbfbfb;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.how-it-works-text {
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: left;
  color: #fbfbfb;
}
.how-it-works-list {
  list-style: none;
}
.how-it-works-item {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-counter .how-it-works-number::before {
  counter-increment: section-counter;
  content: counter(section-counter) '';
}
.how-it-works-item .how-it-works-number {
  content: counter(card-counter);
  background-color: #7a3145;
  color: #fbfbfb;
  margin-right: 24px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 100%;
  border-width: 5px;
  border-color: #e7bdff;
  border-style: solid;
}
.bold-text {
  font-weight: 700;
  color: #141414;
}
@media screen and (min-width: 768px) {
  .section-how-it-works {
    max-width: 768px;
  }
  .how-it-works-img {
    display: block;
    margin: 0 auto;
  }
  .how-it-works-div {
    max-width: 450px;
    display: block;
    margin: 0 auto;
  }
  .how-it-works-main-text {
    font-size: 32px;
  }
  .how-it-works-span {
    font-size: 32px;
  }
  .how-it-works-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .hiw-text {
    font-size: 16px;
    line-height: 1.25;
    width: 325px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    display: flex;
  }
  .section-how-it-works {
    max-width: 1280px;
    background-color: #7a3145;
  }
  .how-it-works-greendiv {
    background-color: #576f35;
    width: 50%;
  }
  .how-it-works-pinkdiv {
    width: 50%;
  }
}
